<div class="flex flex-col justify-center items-center py-8">
  {{! game title }}
  <LinkTo @route="welcome">
    <div class="text-5xl font-black">
      <span class="text-gray-400">Tic</span>
      <span class="text-gray-600">Tac</span>
      <span class="text-gray-800">Toe</span>
    </div>
  </LinkTo>
  {{! game title }}

  {{! game subtitle }}
  <div class="font-light text-sm text-gray-500 mt-2 text-center">
    <div>coded by
      <a
        target="_blank"
        href="https://github.com/frknbasaran"
        rel="noopener noreferrer"
      ><span class="font-medium">@frknbasaran</span></a></div>
    <div>with
      <a
        target="_blank"
        href="https://https://emberjs.com"
        rel="noopener noreferrer"
      ><span class="font-medium">@emberjs</span></a></div>
  </div>
  {{! game subtitle }}
</div>